body {
    color: #5a5a5a;
}

h1 {
    font-size: 219%;
    font-weight: 613;
}

h2 {
    font-size: 180%;
}

img.affiliate {
    max-height: 100px;
    align-items: center;
}

.custom-card-height {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    font-size: 24pt;
}
