{% extends "devel/main.html" %}
{% load static %}

{% block whoami %}
    {% include 'devel/inc.whoami.html' %}
{% endblock whoami %}

{% block content %}

<div class="col-lg-8 col-xl-6">
    <div class="text-center">
        <h2 class="fw-bolder">Where and when can YOU reach me?</h2>
        <p>I’m so sorry about this, but maybe I can’t respond immediately to your message! The reason is very simple: this is not my 0-24 job. At the moment only a hobby to have some more practice. Maybe you have to wait some hours, or even just few days. Please, be patient as I am. I don’t have too much free time because of some reasons... but will do my best to respond you as soon as possible.</p>
        <h3>
            Mostly interested in python, php, using database. There is a chance to some other languages, but not all of them.<br>Feel free to ask me!
        </h3>
    </div>
</div>

<div class="row gx-5">

    {% for card in cards %}
        {{ card.render|safe }}
    {% endfor %}

</div>

{% endblock content %}
